/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* main */

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--bg-gradient-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--bg-gradient-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--bg-gradient-flow-top) 0.01%,
      var(--bg-gradient-flow-bottom)
    );
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--text-font-weight);
}

.page-width {
  inline-size: 100%;
}

/* header */
.header {
  height: clamp(327px, 100%, 368px);
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block-start: clamp(120px, 10vw, 136px);
}

.header-title__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  padding-inline-start: 20px;
  block-size: 70px;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme-menu__button {
  position: relative;
  border: initial;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: -15px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

/* main */

/* card */

.card-item {
  margin-block-end: 50px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card-title {
  border-block-end: 1px solid var(--accent-color);
  padding: 5px 10px 5px 10px;
  font-weight: var(--title-font-weight);
  font-size: 18px;
  line-height: 1.2;
  font-variation-settings: "wght" var(--title-font-weight);
}

.card-wrapper {
  position: relative;
}

.card-images {
  display: block;
  border-block-start: 1px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.image-two {
  filter: contrast(160%);
}
.image-three {
  filter: blur(0.1rem);
}
.image-four {
  filter: grayscale(0.8);
}
.image-five {
  filter: saturate(158%);
}
.image-six {
  filter: hue-rotate(-90deg);
}
.image-seven {
  filter: sepia(80%);
}
.image-eight {
  filter: sepia(1) contrast(2) brightness(200%);
}

.card-lable {
  position: absolute;
  top: 25px;
  right: 13px;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 var(--lable-color), 1px -1px 0 var(--lable-color),
    -1px 1px 0 var(--lable-color), 1px 1px 0 var(--lable-color);
  mix-blend-mode: hard-light;
}

.card-text {
  display: grid;
  gap: 27px;
  margin: 25px;
  font-size: 18px;
  line-height: 1.2;
}

.card-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  padding: 0 25px 25px 0;
}

.general-button {
  border: 2px solid var(--accent-color);
  font-size: 14px;
  line-height: 0.8;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.general-button::first-letter {
  text-transform: uppercase;
}

.general-button:focus {
  outline: none;
}

.general-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  border: none;
  padding: initial;
  background-color: var(--bg-color);
  transition: outline 0.3s ease;
  inline-size: auto;
  block-size: 34px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.button__text {
  position: relative;
  color: var(--curtain-color);
  font-family: var(--accent-font);
  mix-blend-mode: difference;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  padding-block-end: 100px;
  font-family: var(--accent-font);
  font-size: 14px;
}

.footer__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 306px;
  block-size: 84px;
}

.footer__button-images {
  mix-blend-mode: difference;
  inline-size: 28px;
  block-size: 28px;
}

.floppy {
  color: var(--curtain-color);
  mix-blend-mode: difference;
}

/* span in button */

/* curtains for buttons */

.curtain {
  position: relative;
  overflow: hidden;
}

.curtain::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
}

.curtain:hover::before {
  transform: translateX(100%);
}

/* dialog */

.dialog {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--accent-color);
  padding: 30px 42px;
  overflow: hidden;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: 341px;
  block-size: 191px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__body {
  display: grid;
  grid-template-columns: 39px auto;
  align-items: center;
  gap: 20px;
}

.dialog .footer__button-images {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-button {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  inline-size: 257px;
  block-size: 38px;
}

@media (width > 376px) {
  .page-width {
    max-width: var(--page-width);
  }

  .card-lable {
    right: 25px;
  }

  .footer__button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 55px;
  }

  .footer__button-images {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog {
    padding: 30px;
    inline-size: 353px;
  }

  .dialog-button {
    inline-size: 293px;
  }
}

@supports (
  (text-stroke: 1px var(--lable-color)) or
    (-webkit-text-stroke: 1px var(--lable-color))
) {
  .main__card-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--lable-color);
    text-stroke: 1px var(--lable-color);
  }
}
